[Unit]
Description=Dockerized MongoDB Service
After=docker.service
BindsTo=docker.service

 
[Service]

#WorkingDirectory=/home/dev/playground/dockerStuf/wiki-docker

ExecStart=/usr/local/bin/docker-compose -f /home/dev/playground/wiki-docker/docker-compose.yml up

[Install]
WantedBy=multi-user.target
